* {
  margin: 0;
  padding: 0;
}

button {
  width: 80px;
}

header {
  background-color: lightblue;
  height: 6vw;
}
header img {
  width: 5.2vw;
  margin: 0;
}

nav ul {
  width: 100%;
  text-align: center;
  list-style: none;
}
nav a {
  text-decoration: none;
}
nav li {
  width: 100%;
}

#navLinks {
  overflow: hidden;
}

.hide {
  height: 0;
  transition: height 1s;
}

.show {
  height: 100px;
  transition: height 1s;
}

@media (min-width: 768px) {
  #navButt {
    display: none;
  }
}
